@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* EDITANDO NAVEGAÇÃO */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #2196f3;
}

nav a:hover {
    transition: 0.3s;
}

/* EDITANDO HOME */

section {
    min-height: 100vh;
    display: flex;
    background: #111111;
}

section#home .home-content img {
    width: 500px;
    height: 500px;
    margin-right: 50px;
}

section#home .home-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home .home-content .info {
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
}

section#home .home-content .info h1 span {
    color: #2196f3;
    text-shadow: #2196f3;
    text-transform: uppercase;
}

section#home .home-content .info .download-btn {
    background: #2196f3;
    color: #fff; 
    display: inline-block; 
    margin-top: 35px;
    padding: 10px 20px;
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold; 
    transition: 0.5s;
  }
  
section#home .home-content .info .download-btn:hover {
    background-color: #1486e4; 
    box-shadow: 0 3.75px 15px #1486e4;
    transition: 0.5s;
  }
  

/* ---------- EDITANDO SOBRE ---------- */

section#about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    overflow: hidden;
}

section#about .container .content {
    color: #fff;
    padding-left: 100px;
    margin-right: 100px;
}

section#about .container .content h1 {
    font-size: 2em;
    color: #2196f3;
}

section#about .container .content p {
    margin-bottom: 15px;
    font-size: 1em;
}

section#about .container .about-image img {
    height: 100vh;
    opacity: 25%;
}

/* ---------- EDITANDO PROJETOS ---------- */

section#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#projects h1 {
    color: #2196f3;
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 2em;
}

section#projects .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 50px;
}

section#projects .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    box-shadow: 0 7.5px 30px rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    opacity: 0.85;
    transition: 0.5s;
}

section#projects .container .card:hover {
    height: 400px;
    box-shadow: 0 15px 60px rgba(255, 255, 255, 0.15);
    opacity: 1;
    transition: 0.5s;
}

section#projects .container .card .imgBx {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.5s;
}

section#projects .container .card:hover .imgBx {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

section#projects .container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s;
}

section#projects .container .card:hover .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s;
}

section#projects .container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

section#projects .container .card:hover .content {
    top: 130px;
    height: 250px;
}

section#projects .container .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: gray;
    transition: 0.5s;
}

section#projects .container .card:hover .content h2 {
    color: var(--clr);
    transition: 0.5s;
}

section#projects .container .card:hover .content a {
    background: var(--clr);
}

section#projects .container .card .content p {
    color: #333;
}

section#projects .container .card .content span,
section#projects .container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: #333;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s;
}

section#projects .container .card .content a:hover {
    background-color:#2196f3;
    transition: 0.5s;
}


/* EDITANDO CONTATOS */

section#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root {
    --bg: #111;
}

section#contact .card-user {
    position: relative;
    transition: 0.5s;
    height: 100px;
    transition-delay: 0.5s;
}

section#contact .card-user.active {
    height: 450px;
    margin-top: 65px;
}

section#contact .card-user .user {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 60px 40px 30px;
}

section#contact .card-user .user .imgBx {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

section#contact .card-user .user .imgBx img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#contact .card-user .user .content {
    position: relative;
    text-align: center;
}

section#contact .card-user .user .content h2 {
    font-size: 1.2em;
    line-height: 1.05em;
    font-weight: 600;
    color: #fff;
}

section#contact .card-user .user .content h2 span {
    font-size: 0.75em;
    font-weight: 400;
}

section#contact .card-user .user .toggle {
    position: absolute;
    bottom: 0;
    width: 150px;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid var(--bg);
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: 0.55s;
}

section#contact .card-user.active .user .toggle {
    background: #ff4383;
    color: #fff;
}

section#contact .card-user .user .toggle::before {
    content: 'Contrate-me';
}

section#contact .card-user.active .user .toggle::before {
    content: 'Fechar';
}

section#contact .card-user .contact {
    position: relative;
    top: 30px;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

section#contact .card-user.active .contact {
    height: 325px;
}

section#contact .card-user .contact li {
    list-style: none;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
    padding: 10px 30px;
}

section#contact .card-user.active .contact li {
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.25s * var(--i));
}

section#contact .card-user.active .contact:hover li {
    opacity: 0.15;
    filter: blur(2px);
    transition-delay: 0s;
}

section#contact .card-user.active .contact li:hover {
    opacity: 1;
    filter: blur(0);
}

section#contact .card-user .contact li a,
section#contact .card-user .contact li span {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

section#contact .card-user .contact li a .iconBx,
section#contact .card-user .contact li span .iconBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#contact .card-user .contact li a .iconBx i,
section#contact .card-user .contact li span .iconBx i {
    color: #fff;
    font-size: 1.5em;
}

section#contact .card-user .contact li a p,
section#contact .card-user .contact li span p {
    color: #666;
    font-size: 1.1em;
}

section#contact .card-user .contact li a:hover p,
section#contact .card-user .contact li span:hover p {
    color: #111;
}